<div id="stlpr-footer">
	<div id="topfooter">
		<div class="redbar">
		</div>
		<div id="partnersbar">
			<div class="logos">
				<img src="https://s3.amazonaws.com/stlpr-assets/stlpr-style/footer_logos/stlpr_white.png" width="192px" height="30px">
				<div id="partnerlogos" class="hidden-xs">
					<img src="https://s3.amazonaws.com/stlpr-assets/stlpr-style/footer_logos/npr.png" width="62px" height="20px">
					<img src="https://s3.amazonaws.com/stlpr-assets/stlpr-style/footer_logos/bbc.png" width="68px" height="19px">
					<img src="https://s3.amazonaws.com/stlpr-assets/stlpr-style/footer_logos/pri.png" width="50px" height="44px">
					<img src="https://s3.amazonaws.com/stlpr-assets/stlpr-style/footer_logos/apm.png" width="161px" height="41px">
				</div>
			</div>
		</div>
	</div>
	<div id="midfooter" class="hidden-xs">
		<div class="row">
			<div class="col-sm-2 col-sm-offset-1">
				<h4>News</h4>
				<div class="stripes"></div>
				<ul>
					<li><a href="http://news.stlpublicradio.org/term/arts-culture">Arts &amp; Culture</a></li>
					<li><a href="http://news.stlpublicradio.org/term/economy-innovation">Economy &amp; Innovation</a></li>
					<li><a href="http://news.stlpublicradio.org/term/education-0">Education</a></li>
					<li><a href="http://news.stlpublicradio.org/term/health-science">Health, Science, Environment</a></li>
					<li><a href="http://news.stlpublicradio.org/term/politics-issues">Politics &amp; Issues</a></li>
					<li><a href="http://www.lobbyingmissouri.org">Lobbying Missouri</a></li>
					<li><a href="http://mobilltracker.org">Missouri Legislative Tracker</a></li>
				</ul>
			</div>
			<div class="col-sm-2">
			<h4>On Air</h4>
			<div class="stripes"></div>
			<ul>
				<li>Program Schedules</li> 
					<ul>
						<li><a href="http://news.stlpublicradio.org/schedule/week/kwmu">90.7 KWMU</a></li>
						<li><a href="http://news.stlpublicradio.org/schedule/week/kwmu-hd2">The Gateway 90.7 KWMU-2</a></li>
						<li><a href="http://news.stlpublicradio.org/schedule/week/classical-hd3">Classical 90.7 KWMU-3</a></li>
		     		</ul>
				<li>St. Louis Public Radio Programs</li> 
					<ul>
						<li><a href="http://news.stlpublicradio.org/programs/arch-city-radio-hour">Arch City Radio Hour</a></li>
						<li><a href="http://news.stlpublicradio.org/content/cityscape">Cityscape</a></li>
						<li><a href="http://www.stlpublicradio.org/programs/commentaries/index.php">Commentaries</a></li>
						<li><a href="http://www.stlpublicradio.org/programs/jazzunlimited/index.php">Jazz Unlimited</a></li>
						<li><a href="http://news.stlpublicradio.org/programs/politically-speaking">Politically Speaking</a></li>
						<li><a href="../programs/black-white/index.php">STL History in Black &amp; White</a></li>
						<li><a href="http://news.stlpublicradio.org/content/st-louis-air">St. Louis on the Air</a></li>
						<li><a href="http://www.stlpublicradio.org/programs/symphony.php">St. Louis Symphony</a></li>
						<li><a href="http://news.stlpublicradio.org/programs">All Programs</a></li>
					</ul>
				<li><a href="http://www.quincypublicradio.org">Quincy Public Radio</a></li>
			</ul>
			</div>
			<div class="col-sm-2">
			<H4>Listen Live <i class="fa fa-volume-up"></i></h4>
				<div class="stripes"></div>
				<ul>
					<li class="mp3">
						<i class="fa fa-music"></i> Streaming MP3
					</li>
					<ul>
						<li><a href="http://kwmu-sc.streamguys.com/listen.pls">90.7 KWMU</a></li>
						<li><a href="http://kwmu2-sc.streamguys.com/listen.pls">The Gateway 90.7 KWMU-2</a></li>
						<li><a href="http://kwmu3-ice.streamguys1.com/kwmu3.m3u">Classical 90.7 KWMU-3</a></li>
					</ul>
					<li class="windows">
						<i class="fa fa-windows"></i> Windows Media Player
					</li>
					<ul>
						<li><a href="http://kwmuweb.streamguys.com/kwmu1.asx">90.7 KWMU</a></li>
						<li><a href="http://kwmuweb.streamguys.com/kwmu2.asx">The Gateway 90.7 KWMU-2</a></li>
						<li><a href="http://kwmuweb.streamguys.com/kwmu3a.asx">Classical 90.7 KWMU-3</a></li>
					</ul>
					<li><a href="http://www.stlpublicradio.org/listenmobile.php" class="mobile"><i class="fa fa-mobile"></i> KWMU on your mobile phone</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-2">
		       <h4>Connect With Us</h4>
		       <div class="stripes"></div>
		       <ul>
				   <li><a href="http://platform.publicbroadcasting.net/kwmu/email.emailmain"><i class="fa fa-envelope"></i> e-Newsletters</a></li>
				   <li><a href="http://events.publicbroadcasting.net/kwmu/events.eventsmain"><i class="fa fa-calendar"></i> Events</a></li>
				   <li><a href="http://www.facebook.com/stlpublicradio"><i class="fa fa-facebook-square"></i> Facebook</a></li>
				   <li><a href="http://www.flickr.com/groups/kwmu/"><i class="fa fa-flickr"></i> Flickr</a></li>
				   <li><a href="http://instagram.com/stlpublicradio#"><i class="fa fa-instagram"></i> Instagram</a></li>
				   <li><a href="http://www.pinterest.com/stlpr/"><i class="fa fa-pinterest-square"></i> Pinterest</a></li>
				   <li><a href="http://twitter.com/#!/stlpublicradio"><i class="fa fa-twitter"></i> Twitter</a></li>
			   </ul>
			</div>
			<div class="col-sm-2">
		     <h4>Support Links</h4>
		     <div class="stripes"></div>
		     <ul>
		    <li><a href="http://www.stlpublicradio.org/support/">Sustaining Gift</a></li>
		    <li><a href="http://www.stlpublicradio.org/support/membership/sustain.php">One-Time Gift</a></li>
		    <li><a href="http://www.stlpublicradio.org/support/underwriting/index.php">Corporate Support</a></li>
		    <li><a href="www.stlpublicradio.org/support/otherwaystogive.php">Other Ways to Give</a></li>
		     </ul>
			</div>
		</div>
	</div>
	<div id="bottomfooter">
		<div class="barcontent hidden-xs">
			<ul>
				<li><strong><a href="http://www.stlpublicradio.org/contact/" class="contact">Contact Us</a></strong></li>
				<li><a href="http://www.stlpublicradio.org/contact/directions.php">Directions and Map</a></li>
				<li><a href="http://www.stlpublicradio.org/info/onair.php">News &amp; On-Air Staff</a></li>
				<li><a href="http://www.stlpublicradio.org/info/awardwinners.php">Station Awards</a></li>
				<li><a href="http://www.stlpublicradio.org/info/employment.php">Employment</a></li>
				<li><a href="http://www.stlpublicradio.org/info/index.php">Station Info</a></li>
				<li><a href="http://insidestlpublicradio.wordpress.com/">Station Blog</a></li>
			</ul>
		</div>
		<div class="barcontent">
			<div id="umsl"><a href="http://www.umsl.edu"><img src="https://s3.amazonaws.com/stlpr-assets/stlpr-style/footer_logos/umsl.png" alt="University of Missouri-St. Louis" width="60" height="28" align="left" /></a><p><strong>St. Louis Public Radio</strong><br />is a service of the University of Missouri-St. Louis<br /><a href="http://www.umsl.edu"><strong>www.umsl.edu</strong></a></p>
			</div>
			<div id="legal">
				<ul>
					<li>&copy; 2014 News for St. Louis</li>
					<li><a href="http://www.stlpublicradio.org/support/memberlist.php">Member List Policy</a></li>
					<li><a href="http://www.stlpublicradio.org/support/privacypolicy.php">Privacy Policy</a></li>
					<li><a href="http://www.stlpublicradio.org/info/discussionpolicy.php">Discussion Policy</a></li>
				</ul>
			</div>
		</div>
	</div>
</div> 