<div id="stlpr-header">
	<div class="redbar">
		<div class="barcontent">
				<ul>
					<li class="visible-xs-inline" id="small-logo"><a href="http://www.stlpublicradio.org"><img src="https://s3.amazonaws.com/stlpr-assets/stlpr-style/footer_logos/stlpr_white.png"></a></li>
						<li id="listen"><a href="http://www.stlpublicradio.org/listen.php"><i class="fa fa-volume-up"></i> Listen Live
				</a></li>
					<li id="donate"><a href="http://www.stlpublicradio.org/support/index.php">Donate</a></li>
				</ul>
		</div>
	</div>
	<div id="midheader" class="hidden-xs"> 
		<div class="barcontent">
			<a href="http://www.news.stlpublicradio.org/"><img id="headerlogo" src="https://s3.amazonaws.com/stlpr-assets/stlpr-style/header_logos/stlpr.png" alt="St. Louis Public Radio"/></a>
			<img id="headerbox" src="https://s3.amazonaws.com/stlpr-assets/stlpr-style/header_logos/news_that_matters.png" alt="St. Louis Public Radio"/>
		</div>
	</div>
</div>