{% extends '_base.html' %}


{% block content %}
<div class="row">
	<div class="col-md-4 intro">
		<div class="tlp">
			<img src="assets/listening-project-logo-big.png" class="img-responsive">
			<div class="page-description">
				<h1 class="page-title">Books</h1>
				<p>{{ COPY.text.books_description }}</p>
			</div>
			<h3>Resources</h3>
			
			{% for row in COPY.books_resources %}

				{% include '_resources.html' %}
			
			{% endfor %}
		</div>
	</div>
	<div class="col-md-8 featured">
		{% for row in COPY.books %}
		<div class="books-page media">
		  <a class="pull-{{ loop.cycle('left', 'right') }}" href="#">
		    <img src="assets/books/{{ row.img_slug }}.jpg">
		  </a>
		  <div class="media-body">
		    <h4 class="media-heading"><a href="{{row.link}}">{{ row.title }} <small>{{ row.author }}</small></a></h4>
		    <p>{{ row.description }}</p>
		  </div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}