{% extends '_base.html' %}


{% block content %}
<div class="row resources">
	<div class="col-md-2 intro">
		<div class="tlp">
			<img src="./assets/listening-project-logo.png" class="img-responsive">
			<div class="page-description">
				<h1 class="page-title">Education</h1>
				<p>{{ COPY.text.education_description }}</p>
			</div>
			<h3>Resources</h3>
			
			{% for row in COPY.education_resources %}

				{% include '_resources.html' %}
			
			{% endfor %}
		</div>
	</div>
	<div class="col-md-10 featured">
		{% for row in COPY.education_articles %}

			{% include '_featured_articles.html' %}

		{% endfor %}
	</div>
</div>

{% include '_books.html' %}
{% endblock %}