{% extends '_base.html' %}


{% block content %}
<div class="row">
	<div class="col-md-4 intro">
		<div class="tlp">
			<img src="./assets/listening-project-logo-big.png" class="img-responsive">
			<h4>
				<i class="fa fa-align-right fa-rotate-90"></i>&nbsp;
				{{ COPY.homepage.tlp_title }}
			</h4>
			<p>{{ COPY.homepage.tlp_text_1 }}</p>
			<p>{{ COPY.homepage.tlp_text_2 }}</p>
		</div>
		<div class="ftsoa">
			<h4>
				<i class="fa fa-align-left fa-rotate-270"></i>&nbsp;
				{{ COPY.homepage.ftsoa_title }}</h4>
			<p>{{ COPY.homepage.ftsoa_text_1 }}</p>
			<p>{{ COPY.homepage.ftsoa_text_2 }}</p>
		</div>
	</div>
	<div class="col-md-8">
		<div class="col-md-12 featured">
			{% for row in COPY.featured %}

				{% include '_featured_articles.html' %}

			{% endfor %}
		</div>
		{% if COPY.calendar %}
		<div class="col-md-12 featured calendar">
			<h2>Community Meetings</h2>
			{% for row in COPY.calendar %}
				<div class="meeting well"><a href="http://maps.google.com/maps?daddr={{ row.address|replace(" ", "+") }}"><button type="button" class="btn btn-lg btn-info pull-right">Get Directions</button></a><p class="lead">{{ row.date }} at {{ row.time }}</p><p>{{ row.place_name }}, {{ row.address }}</p></div>
		
			{% endfor %}
		</div>
		{% endif %}
	</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Welcome to The Listening Project</h4>
      </div>
      <div class="modal-body">
		<div id="splash-content">
			<div id="splash-content-main">
				<div id="logo">
					<img id="logo" src="./assets/listening-project-logo-big.png">
				</div>
				<div id="text">
					<p>{{ COPY.text.intro_text_1 }}</p>
					<p>{{ COPY.text.intro_text_2 }}</p>
				</div>
		

				<div id="texts" class="well">
					<h3>Get texts from The Listening Project</h3>
					<p><em>We'll periodically update you on what we're doing and ways you can contribute to the discussion. Just click the link and fill out your information.<em></p>
						<a class="btn btn-default" href="https://www.groundsource.co/surveys/1007/confirm/" target="_blank">Sign up for texts</a>
				</div>


				<div id="button">
					<a href="home.html" class="btn btn-lg btn-default">Learn More</a>
				</div>
			</div>
		</div>
        
      </div>
    </div>
  </div>
</div>
{% include '_books.html' %}
{% endblock %}

{% block extra_foot %}
<script type="text/javascript">
	$('#myModal').modal({
		show: true
	})
</script>
{% endblock %}