{% extends '_base.html' %}


{% block content %}
<div class="row">
	<div class="col-md-4 intro">
		<div class="tlp">
			<img src="./assets/listening-project-logo-big.png" class="img-responsive">
			<h4>
				<i class="fa fa-align-right fa-rotate-90"></i>&nbsp;
				{{ COPY.homepage.tlp_title }}
			</h4>
			<p>{{ COPY.homepage.tlp_text_1 }}</p>
			<p>{{ COPY.homepage.tlp_text_2 }}</p>
		</div>
		<div class="ftsoa">
			<h4>
				<i class="fa fa-align-left fa-rotate-270"></i>&nbsp;
				{{ COPY.homepage.ftsoa_title }}</h4>
			<p>{{ COPY.homepage.ftsoa_text_1 }}</p>
			<p>{{ COPY.homepage.ftsoa_text_2 }}</p>
		</div>
	</div>
	<div class="col-md-8 featured">
		{% for row in COPY.featured %}

			{% include '_featured_articles.html' %}

		{% endfor %}
	</div>
</div>
{% include '_books.html' %}
{% endblock %}