{% extends '_base.html' %}


{% block content %}
<div class="row">
	<div class="col-md-4 intro">
		<div class="tlp">
			<img src="./assets/listening-project-logo-big.png" class="img-responsive">
			<div class="page-description">
				<h1 class="page-title">Other Resources</h1>
				<p>{{ COPY.text.other_resources_description }}</p>
			</div>
		</div>
	</div>
	<div class="col-md-8 featured">
		{% for row in COPY.other_resources_articles %}

			{% include '_featured_articles.html' %}

		{% endfor %}
	</div>
</div>

{% include '_books.html' %}
{% endblock %}